{% extends 'navbar.html' %}

{% block content %}
<div class="container-fluid bg-primary pt-4 pt-sm-4 pt-md-4 pt-lg-4 pt-xl-4 pb-5 pb-sm-5 pb-md-5 pb-lg-5 pb-xl-5">
    <div class="mx-auto col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
        <h1 class="text-white mx-auto font-weight-bold text-center">{{hometext.header}}</h1>
        <h5 class="text-light mx-auto font-weight-light text-center">{{hometext.body}}</h5>
        <h6 class="text-light mx-auto font-weight-bold text-center pt-5 pt-sm-5 pt-md-5 pt-lg-5 pt-xl-5 pb-5 pb-sm-5 pb-md-5 pb-lg-5 pb-xl-5">{{hometext.subtitle}}</h6>
    </div>
</div>
<div class="container-fluid bg-primary pt-2 pt-sm-2 pt-md-4 pt-lg-4 pt-xl-4 pb-3 pb-sm-4 pb-md-4 pb-lg-5 pb-xl-5"></div>
<div class="container-fluid bg-primary pt-2 pt-sm-2 pt-md-4 pt-lg-4 pt-xl-4 pb-3 pb-sm-4 pb-md-4 pb-lg-4 pb-xl-4"></div>
<div class="container-fluid px-0 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8" style="box-shadow: 0 0 40px -5px black;">
    <div id="carousel" class="carousel slide h-auto" data-ride="carousel" style="margin-top:-25%;">
        <ol class="carousel-indicators">
            {% for item in carouselitems %}
                <li data-target="#carousel" data-slide-to="{{forloop.counter0}}" {% if not forloop.counter0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for item in carouselitems %}
                <div class="carousel-item {%if not forloop.counter0 %}active{% endif %}">
                    {% if not item.is_photo %}
                        <video class="d-block w-100 video-fluid" controls autoplay loop muted>
                            <source src="{% static item.item %}" type="video/mp4" />
                        </video>

                    {% else %}
                        <img class="d-block w-100" src="{% static item.item %}" alt="{{ item.title }}">
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container" style="margin-top:10%;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="bg-white w-100 ml-0 mt-2 pl-0" style="height:100%;background: url('{{journeytext.image.url }}');background-repeat: no-repeat;background-size: cover;">
                <div class="bg-primary pt-2 w-50">
                    <h1 class="text-white font-weight-bold text-wrap col-12 mb-5 pb-3" style="margin-top:15%;">{{journeytext.heading}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-5">
            <h2 class="font-weight-normal">{{journeytext.title}}</h2>
            <p class="text-justify">{{journeytext.body}}</p>
            <a href="#" role="button" class="btn btn-primary">{{journeytext.btn_text}}</a>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    {% for domain in domains %}
    {% if forloop.counter0|divisibleby:2 %}<div class="row">{% endif %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 {% cycle 'bg-light' 'bg-white' 'bg-white' 'bg-light' %}">
            <div class="container">
                <div class="row mt-4 mb-2">
                    <div class="col-2">
                        <div class="bg-primary text-center align-middle" style="width:3em;height:3em;padding-top:0.5em;border-radius:50%;">
                            <i class="fas {{domain.icon}} fa-lg text-white align-bottom"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <h2 class="text-center">{{domain.name}}</h2>
                    </div>
                </div>
            </div>
            <p>{{domain.body}}</p>
        </div>
    {% if not forloop.counter0|divisibleby:2 %}</div>{% endif %}
    {% endfor %}
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="row pt-5">
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
            <div class="bg-white w-100 ml-0 mt-2 pl-0" style="height:100%;background: url('{{journeytext.image.url }}');background-repeat: no-repeat;background-size: cover;">
                <div class="bg-primary w-75">
                    <h1 class="text-white font-weight-bold text-wrap col-12 mb-5 pb-3" style="margin-top:5%;">Recent Activities</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 row-flex row-nowrap bg-light">
        </div>
    </div>
</div>
{% endblock %}
